<ion-app>

  <ion-router-outlet>

      <!-- ion tabs inicio -->

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="heart"></ion-icon>
        Mi Salud
      </ion-tab-button>
      <ion-tab-button tab="noticias">
        <ion-icon name="newspaper-outline"></ion-icon>
        Noticias
      </ion-tab-button>
      <ion-tab-button tab="informacion">
        <ion-icon name="book-outline"></ion-icon>
        Informacion
      </ion-tab-button>
      <ion-tab-button tab="marcadores">
        <ion-icon name="bookmark-outline"></ion-icon>
        Marcadores
      </ion-tab-button>
      <ion-tab-button tab="acerca">
        <ion-icon name="information-circle-outline"></ion-icon>
        Acerca
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

    <!-- ion tabs fin -->

  </ion-router-outlet>
  
</ion-app>

